:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
 
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  display: block;
  max-width: 100%;
  height: auto
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin: 0;
}
svg {
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
}